html{
  font-size: 62.5%;
}
* {
  margin: 0; padding: 0; box-sizing: border-box;
}
body {
  font-family: 'helvetica';
  background: url('../images/main-background-img.jpg') fixed no-repeat center;
  background-size: cover;
}

.hamburger{
  position: absolute; top: 1%; left: 1%; font-size: 3rem;
  display: none;
}

.class-app-main-div{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.class-app-main-div-child-1{
  transition: all 0.1s linear;
  width: 15%;
  height: 100vh;
  background-color: rgb(168, 59, 9);
  font-size: 1.6rem;
  padding: 5% 0%;
}

/********** side-nav  **************/
.side-nav{
  transition: all 0.3s linear;
  width: 80%;
  box-shadow: 0.1rem 0.1rem 0.3rem green;
  margin: 5% 0%;
  padding: 5% 6%;
  background-color: lightblue;
  border-radius: 0rem 1.2rem 1.2rem 0rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-nav:hover{
  width: 90%;
}




.nav-link{
  font-weight: bold;
  text-decoration: none;
}



.class-app-main-div-child-2{
  width: 85%;
  overflow-y: scroll;
}

/* .class-app-main-div-child-2::-webkit-scrollbar{
  width: 10px;
}
.class-app-main-div-child-2::-webkit-scrollbar-thumb{
  background-color: cyan;
}
.class-app-main-div-child-2::-webkit-scrollbar-track{
  background-color: grey;
} */



@media(max-width: 76rem){
  html{
    font-size: 50%;
  }
  
  .hamburger{
    z-index: 9999999999999;
    display: block;
  }
  
  .class-app-main-div-child-1{
    position: absolute;
    top: 0%; right: 0; bottom: 0; left: 0;
    width: 80%;
    padding: 20% 0%;
    z-index: 99999;
    display: none;
    flex-flow: column;
  }
  
  .class-app-main-div-child-2{
    width: 100%;
  }
  
  .active{
    display: flex;
  }
  
  .nav-link{
    font-size: 2rem; 
  }
}